*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    height: 10vh;
    background-color: black;
    grid-area: he;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    grid-area: na;
}

.photo{
    grid-area: se;
    font-size: 0px;
}

.information{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 90vh;
    width: 100vw;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.dok{
    background-color: black;
    grid-area: fo;
    font-family: "Times New Roman", Times, serif;
    list-style: none;
    font-size: 15px;
    color: grey;
    display: flex;
    justify-content: center;
}



.logo{  
    z-index: 2;
    text-align: center;
}

.logo2{
    display: none;
}


.navActive{
    transform: translateY(100vh);
    transition: ease 1s;
}

.navLinks li {
    list-style: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}






@media screen and (max-width: 415px) {
    
.wrapper{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "na na na na"
        "se se se se"
        "fo fo fo fo"
        ;
}
    
.photo{
    top: 10px;
    margin: 0px;
    padding: 0px;
}
.information h1{
    font-size: 55px;
    padding: 10px;
}
.information h2{
    font-size: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.information p{
    font-size: 20px;
    text-indent: 20px;
    word-spacing: 1px;
    font-weight: lighter;
}

.contacts{
    display: none;
}


.logo{
    top: 25%;
    left: 10%;
    right: 10%;
    position: absolute;
    border: 1vw solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: "Times New Roman", Times, serif;
    font-size: 15vw;
    padding: 3px;
}
.info-pic{
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.7);
}
.img1{  
    max-width: 100vw;
    position: relative;
    z-index: -10;
}
.img2{
    max-width: 100vw;
}
.img3{
    max-width: 100vw;
}
.img4{
    max-width: 100vw;
}
.img5{
    max-width: 100vw;
}


.nav{
    position: relative;
    top: 0px;
    bottom: 10vh;
    width: 100vw;
}

.dok{
    height: 5vh;
    width: 100vw;
}

.dok p{
    opacity: 0;
}

.fa{
    opacity: 0;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.burger div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 15%;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: black;
    align-items: center;
    width: 100%;
    transition: ease 1s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

}





@media screen and (min-width: 1025px)  {

.wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "he he he na"
    "se se se se"
    "fo fo fo fo"
    ;
}

.logo{
    top: 35%;
    left: 20%;
    right: 20%;
    position: absolute;
    border: 1vw solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: "Times New Roman", Times, serif;
    font-size: 10vw;
}
.logo2{
    display: flex;
    position: absolute;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 5vw;
    padding: 1vw;
    left: 3vw;
}
.info-pic{
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 1vw;
}

.info{
    border: 0.2vw solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
    padding: 0.5vw;
    z-index: 10;
    position: absolute;
    bottom: 1.5%;
    left: 1%; 
}

.information h1{
    font-size: 55px;
    padding: 10px;
}
.information h2{
    font-size: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.information p{
    font-size: 20px;
    text-indent: 20px;
    word-spacing: 1px;
    font-weight: lighter;
}
.contacts{
    font-size: 20px;
}
.img1{  
    max-width: 100vw;
    position: relative;
    text-align: center;
    justify-content: center;
    z-index: -1;
}
.img2{
    max-width: 100vw;
    position: relative;
}
.img3{
    max-width: 100vw;
    position: relative;
}
.img4{
    max-width: 100vw;
    position: relative;
}
.img5{
    max-width: 100vw;
    position: relative;
}

.nav{
    width: 25vw;
}
.header{
    width: 75vw;
}

.dok{
    height: 5vh;
}

.dok p{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.fa{
    margin-left: 10px;
    margin-top: 10px;
}

.contact-menu{
    display: none;
}

.burger div{
    width: 75px;
    height: 7px;
    background-color: white;
    margin: 10px;
    border-radius: 15%;
}
    
.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}
    
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: black;
    align-items: center;
    width: 100%;
    transition: ease 1s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 15px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-6px, -18px);
}

}





@media screen and (max-width: 1024px) and (min-width: 416px)  {

    .wrapper{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "he he he na"
        "se se se se"
        "fo fo fo fo"
        ;
    }
    
    .logo{
        top: 35%;
        left: 20%;
        right: 20%;
        position: absolute;
        border: 1vw solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.75);
        font-family: "Times New Roman", Times, serif;
        font-size: 10vw;
    }
    .logo2{
        display: flex;
        position: absolute;
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-size: 5vw;
        padding: 1vw;
        left: 3vw;
    }
    .info-pic{
        font-size: 3vw;
        color: rgba(255, 255, 255, 0.7);
    }

    .info{
        border: 0.2vw solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.75);
        font-family: "Times New Roman", Times, serif;
        font-size: 2vw;
        padding: 0.5vw;
        z-index: 10;
        position: absolute;
        bottom: 1.5%;
        left: 1%; 
    }
    
    .information h1{
        font-size: 55px;
        padding: 10px;
    }
    .information h2{
        font-size: 33px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .information p{
        font-size: 20px;
        text-indent: 20px;
        word-spacing: 1px;
        font-weight: lighter;
    }
    .contacts{
        font-size: 20px;
    }
    .img1{  
        max-width: 100vw;
        position: relative;
        text-align: center;
        justify-content: center;
        z-index: -1;
    }
    .img2{
        max-width: 100vw;
        position: relative;
    }
    .img3{
        max-width: 100vw;
        position: relative;
    }
    .img4{
        max-width: 100vw;
        position: relative;
    }
    .img5{
        max-width: 100vw;
        position: relative;
    }
    
    .nav{
        width: 25vw;
    }
    .header{
        width: 75vw;
    }
    
    .dok{
        height: 5vh;
    }
    
    .dok p{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .fa{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .contact-menu{
        display: none;
    }
    
    .burger div{
        width: 75px;
        height: 7px;
        background-color: white;
        margin: 10px;
        border-radius: 15%;
    }
        
    .navLinks a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 40px;
        font-family: "Times New Roman", Times, serif;
    }
        
    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 0px;
        height: 90vh;
        top: -90vh;
        background-color: black;
        align-items: center;
        width: 100%;
        transition: ease 1s;
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-7px, 15px);
    }
    
    .toggle .line2{
        opacity: 0;
    }
    
    .toggle .line3{
        transform: rotate(45deg) translate(-6px, -18px);
    }
    
    }


    
