*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: greenyellow;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: red;
    align-items: center;
    width: 20%;
}

.navActive{
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: yellow;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(206, 0, 206);
    margin: 5px;
    border-radius: 10%;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}